# Ignore build output directory
/build
/build/*
/_ide
/_ide/*
/src/.cache
/src/.compile_commands
/export
/freertos_hello_world
/logs
/zcu106
/kr260

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata